<!-- Pagination -->
<!-- <div class="container">
     <h1 class="title">Pagination</h1> 
         <div class="categories"></div>
   
 </div> -->
 <div class="pagination">
  <div class="categories"></div>
   <ul>
     <!-- <li class="btn prev"><span><i class="left"></i> < </span></li>
     <li class="numb active"><span>1</span></li>
     <li class="numb"><span>2</span></li>
     <li class="dots"><span>...</span></li>
     <li class="numb"><span>7</span></li>
     <li class="numb"><span>8</span></li>
     <li class="btn next"><span><i class="right"></i> > </span></li> -->
   </ul>
   
 </div>
 <!-- <script src="js/app.js"></script> -->
</body>
</html>