<!-- <link rel="stylesheet" href="./discount.html" /> -->
<h2 class="discount-title">Discount products</h2>

<div class="discount-container">
  <!-- <div class="discount-card">
    <div class="discount-logo">
      <svg class="logo">
        <use href="../img/icons.svg#icon-discount" width="60" height="60"></use>
      </svg>
    </div>
    <div class="discount-card-image">
      <img src="#" alt="image" width="114" height="'114" />
    </div>
    <div class="discount-card-info">
      <div class="discount-card-name">
        <p class="discount-card-text">Apricot</p>
      </div>

      <div class="discount-card-price">
        <p class="discount-card-text">$0.79</p>

        <button class="discount-card-button" type="button">
          <svg class="">
            <use
              href="../img/icons.svg#icon-heroicons-solid_shopping-cart"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="discount-card">
    <div class="discount-card-image">
      <img src="#" alt="image" width="114" height="'114" />
    </div>
    <div class="discount-card-info">
      <div class="discount-card-name">
        <p class="discount-card-text">Apricot</p>
      </div>

      <div class="discount-card-price">
        <p class="discount-card-text">$0.79</p>

        <button class="discount-card-button" type="button">
          <svg class="">
            <use
              href="../img/icons.svg#icon-heroicons-solid_shopping-cart"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div> -->
</div>
