<div class="filters">
    <form class="search-form" id="search-form">
        <label class="label-filters">Filters:</label>
        <div class="intup-button-search">
        <input class="input-search"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search for anything"
        />
        <button class="button-search" type="submit">
            <svg  class="search">
            <use href="../img/icons.svg#icon-ic_baseline-search"></use>
            </svg>
        </button>
        </div>
    </form>
    <div class="filters-result"></div>
</div>