<div class="filters">
    <form class="search-form" id="search-form">
        <label class="label-filters">Filters:</label>
        <div class="intup-button-search">
        <input class="input-search first-input-search"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search for anything"
        />
        <button class="button-search" type="submit">
            <svg  class="search">
            <use href="../img/icons.svg#icon-ic_baseline-search"></use>
            </svg>
        </button>
        </div>
    </form>
        <div class="intup-button-search first-select-div">
            <button class="input-search button-categories" type="button">
                <span class="span-button-categories">Choose a breed</span>
                <svg  class="search search-arrow">
                    <use href="../img/icons.svg#arrow-down"></use>
                    </svg>
            </button>
            <ul class="first-select-search-not-focus"></ul>
        </div>
            
    
    <div class="filters-result"></div>
</div>