
<footer class="footer">
	<div class="container footer-container">

	<div class="footer-logo-social">
	<a  class="link footer-logo-link" href="../index.html">
		<svg class="footer-logo-icon" width="28" height="28">
			<use href="../img/icons.svg#icon-logo"></use>
		</svg>Food Boutique
	</a>
	<ul class="footer-social-media-list list">
			<li class="social-media-item">
			<a
			class="social-media-link link"
			href=" https://www.facebook.com/goITclub/"
			target="_blank"
			rel="noopener noreferrer"
			>
	<svg class="social-media-icon" width="24" height="24">
			<use href="../img/icons.svg#icon-facebook"></use>
	</svg>
				</a>
		</li>
	
		<li class="social-media-item">
			<a
			class="social-media-link link"
			href=" https://www.instagram.com/goitclub/ "
			target="_blank"
			rel="noopener noreferrer"
			>
	<svg class="social-media-icon" width="24" height="24">
			<use href="../img/icons.svg#icon-instagram"></use>
	</svg>
			</a>
		</li>
	
		<li class="social-media-item">
			<a
			class="social-media-link link"
			href="https://www.youtube.com/c/GoIT"
			target="_blank"
			rel="noopener noreferrer"
			>
	<svg class="social-media-icon" width="24" height="24">
			<use href="../img/icons.svg#icon-youtube"></use>
	</svg>
			</a>
		</li>
	
	</ul>
	</div>
	
	<div class = "text-block">
			<h2 class="footer-slogan-title">Discover the Variety of Flavors and Quality</h2>
			<p class="footer-slogan">An online store where you will find fresh, natural and delicious products for a healthy life and unforgettable gastronomic adventures.</p>
	</div>
	
<div class="subscription-wrap">
	<p class="suscription-text">Subscribe and learn about new products!</p>
	
	<form class="footer-form">
		<div class="contact-form-box">
		<input
		type="email"
		id="user-email"
		name="user-email"
		placeholder="Email"
		class="contact-form-input"
		pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
		required />
	
		<button type="submit" class="footer-form-btn">Sent</button>
		</div>
	</form>
	</div>
	
	<div class="footer-policy-wrap">
			<p class="footer-copywriting-text">Food Boutique. All rights reserved.</p>
		
			
			<a href="#three-steps" class="link footer-menu-link">Privacy Policy</a>
			<span class="footer-policy-dividion">/</span>
			
			<a href="#three-steps" class="link footer-menu-link">Terms of Service</a>
			
	</div>
	
	</div>
	
	</footer>
	</body>
	</html>