<header class="page-header-container container">
  <nav class="main-nav">
    <div class="logo-wrapper">
      <a class="logo-link" href="./index.html">
        <svg class="header-logo-icon">
          <use href="/img/icons.svg#icon-logo-header"></use>
        </svg>
        Food Boutique
      </a>
    </div>

    <ul class="navig-wrapper list">
      <li>
        <a class="link-home" href="./index.html">Home</a>
      </li>
      <li class="header-basket">
        <div class="header-besket-wrapper">
          <a class="header-basket-item" href="./cart.html">
            <span class="icon-basket-wrap">
              <svg class="icon-basket-header">
                <use href="/img/icons.svg#icon-basket"></use>
              </svg>
            </span>
            <span class="cart-amount"
              >Cart (<span class="js-header-cart-items"></span>)</span
            >
          </a>
        </div>
      </li>
    </ul>
  </nav>
</header>
<!-- <script src="./js/header" type="module"></script> -->
