<link rel="stylesheet" href="../css/popular.css" />
<div class="products-container">
    <h1 class="h1-popular">Popular products</h1>

    <!-- Шаблон продукту -->
    <div class="product-template" style="display: none;">
        <div class="product-image-container"> <img src="#" alt="" class="product-image"></div>
        <div class="product-text">
            <h3 class="product-name"></h3>
            <p class="product margin">
                Category: <span class="category-value"></span>
            <div class="product">Size: <span class="size-value"></span>
                Popularity: <span class="popularity-value"></span></div>
            </p>
        </div>
        <button class="add-to-cart-btn">
            <span class="cart-icon">🛒</span>

        </button>
    </div>
</div>
