<!-- Шаблон продукту -->
<div class="products-container">
    <h1 class="h1-popular">Popular products</h1>

    <!-- Шаблон продукту -->
    <div class="product-template">
        <div class="popular-con">
            <div class="product-image-container"> <img src="#" alt="" class="product-image"></div>
            <div class="product-text">
                <h3 class="product-name"></h3>
                <p class="product margin">
                    Category: <span class="category-value"></span>
                <div class="product">Size: <span class="size-value"></span>
                    Popularity: <span class="popularity-value"></span></div>
                </p>
            </div>
        </div>
        <button class="add-to-cart-btn cart-btn">
            <svg class="ico icon-on">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"></use>
            </svg>
            <svg class="ico icon-off" style="display: none;">
                <use href="./img/icons.svg#icon-check"></use>
            </svg>
        </button>
    </div>
    <div class="product-template">
        <div class="popular-con">
            <div class="product-image-container"> <img src="#" alt="" class="product-image"></div>
            <div class="product-text">
                <h3 class="product-name"></h3>
                <p class="product margin">
                    Category: <span class="category-value"></span>
                <div class="product">Size: <span class="size-value"></span>
                    Popularity: <span class="popularity-value"></span></div>
                </p>
            </div>
        </div>
        <button class="add-to-cart-btn cart-btn">
            <svg class="ico icon-on">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"></use>
            </svg>
            <svg class="ico icon-off" style="display: none;">
                <use href="./img/icons.svg#icon-check"></use>
            </svg>
        </button>
    </div>
    <div class="product-template">
        <div class="popular-con">
            <div class="product-image-container"> <img src="#" alt="" class="product-image"></div>
            <div class="product-text">
                <h3 class="product-name"></h3>
                <p class="product margin">
                    Category: <span class="category-value"></span>
                <div class="product">Size: <span class="size-value"></span>
                    Popularity: <span class="popularity-value"></span></div>
                </p>
            </div>
        </div>
        <button class="add-to-cart-btn cart-btn">
            <svg class="ico icon-on">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"></use>
            </svg>
            <svg class="ico icon-off" style="display: none;">
                <use href="./img/icons.svg#icon-check"></use>
            </svg>
        </button>
    </div>
    <div class="product-template">
        <div class="popular-con">
            <div class="product-image-container"> <img src="#" alt="" class="product-image"></div>
            <div class="product-text">
                <h3 class="product-name"></h3>
                <p class="product margin">
                    Category: <span class="category-value"></span>
                <div class="product">Size: <span class="size-value"></span>
                    Popularity: <span class="popularity-value"></span></div>
                </p>
            </div>
        </div>
        <button class="add-to-cart-btn cart-btn">
            <svg class="ico icon-on">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"></use>
            </svg>
            <svg class="ico icon-off" style="display: none;">
                <use href="./img/icons.svg#icon-check"></use>
            </svg>
        </button>
    </div>
    <div class="product-template">
        <div class="popular-con">
            <div class="product-image-container"> <img src="#" alt="" class="product-image"></div>
            <div class="product-text">
                <h3 class="product-name"></h3>
                <p class="product margin">
                    Category: <span class="category-value"></span>
                <div class="product">Size: <span class="size-value"></span>
                    Popularity: <span class="popularity-value"></span></div>
                </p>
            </div>
        </div>
        <button class="add-to-cart-btn cart-btn">
            <svg class="ico icon-on">
                <use href="./img/icons.svg#icon-heroicons-solid_shopping-cart"></use>
            </svg>
            <svg class="ico icon-off" style="display: none;">
                <use href="./img/icons.svg#icon-check"></use>
            </svg>
        </button>
    </div>

    <!-- <script src="./js/popular.js" type="module"></script> -->