<section class="cards-grid">
    <div class="products-container">
      <h2 class="visually-hidden">Prosucts</h2>
      <div class="no-products-wrapper visually-hidden">
        <h3 class="no-products-text">
            Nothing was found for the selected <span class="no-products-text-part">filters...</span>
        </h3>
        <p class="no-poducts-text-sub">Try adjusting your search parameters or browse our range by other criteria to find the perfect product for you. </p>
        </div>
      <ul class="cardlist">
        <!-- Карточка для генерації сітки з беккенду -->
      </ul>
      <!-- <div id="tui-pagination-container" class=""></div> -->
    </div>
  </section>