.pagination {
  margin: 40px auto 80px auto;
}

.pagination-page-list {
  display: flex;
  justify-content: space-between;
}

.pagination-page-list .btn {
  color: #a3a3a3;
  text-align: center;
  font-family: Neue Montreal Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  border: none;
}
.btn:disabled {
  cursor: not-allowed;
}
.left-arrow-pagination {
  background-color: #fafafa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.left-arrow-pagination:hover,
.left-arrow-pagination:focus {
  background-color: #6d8434;
}
.right-arrow-pagination {
  background-color: #fafafa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.right-arrow-pagination:hover,
.right-arrow-pagination:focus {
  background-color: #6d8434;
}

.pagination-page-list .numb {
  color: #a3a3a3;
  text-align: center;
  font-family: Neue Montreal Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  border: none;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pagination-page-list .numb:hover,
.pagination-page-list .numb:focus {
  background-color: #6d8434;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3a3a3;
  font-family: Neue Montreal Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .pagination {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 128px;
    padding-right: 128px;
  }
  .left-arrow-pagination {
    margin-right: 80px;
  }
  .right-arrow-pagination {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .pagination {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 226px;
    padding-right: 226px;
  }
}
