.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 40px;
}

.pagination ul {
  display: flex;
  background-color: #e8e8e2;
}

.pagination ul li {
  height: 40px;
  width: 40px;
  list-style: none;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}
.btn.prev {
  margin-right: 19px;
}
.btn.next {
  margin-left: 15px;
}
.numb {
  margin-right: 4px;
}
.dots {
  margin-right: 4px;
}
.pagination ul li.numb {
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.pagination ul li.dots {
  font-size: 20px;
  cursor: default;
}

.pagination ul li.btn {
  /* neu */
  background-color: #fff;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
  background-color: #6d8434;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .pagination {
    margin-bottom: 0;
    margin-top: 50px;
  }
  .btn.prev {
    margin-right: 80px;
  }
  .btn.next {
    margin-left: 72px;
  }
  .numb {
    margin-right: 8px;
  }
  .dots {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .pagination {
    margin-bottom: 61px;
    margin-top: 40px;
  }
}
