
/* Base Cart - Mobile */
body {    
    /* max-width: 335px; */
    background-color: #E8E8E2;
    font-family: inherit;
    margin: 0;
}


.total-cart-container {
    max-width: 335px;
margin: 0 auto;
padding-top: 72px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 80px;
/* box-sizing: content-box; */
}

.cart-quantity {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    box-sizing: content-box;
}

.cart-icon-wrapper{
    margin: 0;
    border-color: #6D8434;
    border-radius: 30px;
    background: #6D8434;
    width: 38px;
    height: 38px;
}

.cart-basket-icon{
   width: 18px;
   height: 18px;
   margin: 10px;
}
.cart-title {
    margin: 0 auto 0 14px;
    font-size: 24px;
    color: #010101;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17; /* 116.667% */
    text-transform: uppercase;
    font-family: "Neue Montreal Medium";


}


.js-cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 100px;
    box-sizing: content-box;
}
.cart-basket-img {
    width: 132px;
    height: 114px;
    margin-bottom: 28px;
}
.text-frame{
    display: inline-flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap: 14px;
max-width: 279px;
text-align: center;
}
.cart-text-empty-1 { font-family: "Neue Montreal Medium";
    margin: 0;
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 1.11; /* 111.111% */
}
.cart-text-empty-2{
    color: rgba(1, 1, 1, 0.70);
		font-family: "Neue Montreal Regular";
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; 
}

.js-cart-container {
    max-width: 335px;
    /* box-sizing: content-box; */
/* padding-bottom: 80px; */
display: flex;
flex-wrap: nowrap;
flex-direction: column;


}

.cart-products{
    width: 100%;
    display: flex;
    flex-direction: column;
  align-items: flex-end;
  /* align-content: center; */
  flex-wrap: nowrap;
  box-sizing: content-box;
}


.js-delete-all-btn{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
 align-content: center;
 justify-content: center;

    padding: 0;
    width: 88px;
    height: 24px;
    margin-bottom: 40px;
    border: none;
background-color: #E8E8E2;

color: #010101;
font-family: "Neue Montreal Medium";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.28; /* 128.571% */
}


.cart-delete-all-icon{
    margin-left: 8px;
    width: 24px;
    height: 24px;
}

.js-cart-selected-products {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    gap: 30px;
    max-height: 420px;
    box-sizing: content-box;
    overflow: auto;
    position: relative;
}

/* ------------------ДОРОБИТИ СКРОЛ----------------------------- */
.js-cart-selected-products::-webkit-scrollbar {
    width: 6px;
    height: 0px;
  }
/* .js-cart-selected-products::-webkit-scrollbar-thumb {
    top: 0;
  bottom: 0;
    position: absolute;
    right: -12px;
    height: 25px;
  } */




/* Класи для стилізації продуктів які прийдуть з локального сховища */

.selected-item {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    box-sizing: content-box;
    max-width: 100%;
    
    
}

.cart-remove-product-btn{
    position: absolute;
    z-index: 1;
padding: 0;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border: none;

    top: 0; /* Переміщення на половину висоти батьківського елемента */
    right: 0; /* Переміщення на половину ширини батьківського елемента */
    /* transform: translate(-50%, -50%);  */
    background: #E8E8E2;
    
  }
.js-delete-product-icon {
  width: 100%;
  height: 100%;
}


.js-selected-item-img {
width: 100px;
height: 100px;
border-radius: 10px;
background: #FAFAFA;
margin-right: 20px;

display: flex;
justify-content: center;
align-items: center;
}
.js-product-item-img{
    max-width: 64px;
    max-height: 64px;
    margin: 0 auto;
top: 50%;
bottom: 50%;

}

.js-selected-item-description {
max-width: 100%;

    
    display: grid;
    justify-content: space-between;
}

.js-item-product-name{
    height: 20px;
    max-width: 215px;
margin-bottom: 10px;

color: #010101;

font-family: "Neue Montreal Medium";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 1.11; /* 111.111% */
}

/* додактовий клас */
.js-item-description-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
    margin-bottom: 36px;

    white-space: nowrap; 
overflow: hidden; 
text-overflow: ellipsis; 
width: 100%;
}



.js-item-product-properties{
width: 100%;
max-height: 14px;


white-space: nowrap; 
overflow: hidden; 
text-overflow: ellipsis; 

color: rgba(1, 1, 1, 0.30);
font-family: "Neue Montreal Regular";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17; /* 116.667% */
}

.js-item-product-descr {
    max-width: 100%;
margin-left: 4px;
margin-right: 6px;
    box-sizing: border-box;
    color: #010101;
    font-family: "Neue Montreal Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
}

.js-item-product-price{
    color: #010101;
    font-family: "Neue Montreal Medium";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.11; /* 111.111% */
}




/* Класи лічильника */

.js-price-count-section {
display: flex;
flex-direction: row;
justify-content: space-between;
box-sizing: content-box;
max-width: 100%;

}

.js-counter-section{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    max-width: 74px;
    max-height: 14px;

    border-radius: 100px;
    border: 1px solid rgba(1, 1, 1, 0.10);
    background-color: #6D8434;

    display: none;
}

.btn-count-minus{
    border: none;
    border-radius: 100px;
    width: 14px;
    margin: 0 auto;
    padding: 0;
    background-color: #6D8434;
}


.btn-count-plus{
    border: none;
    border-radius: 100px;
    width: 14px;
    margin: 0 auto;
    padding: 0;
    background-color: #6D8434;
}

.count-product{
 max-width: 20px;   
}











.underline{
    width: 100%;
   border-color: rgba(1, 1, 1, 0.10);
   border-style: solid; 
   border-width: 1px;   
}




.js-cart-order-details {
    box-sizing: content-box;
display: flex;
flex-direction: column;
/* justify-content: center;
align-items: center; */
width: 100%;
margin: 80px auto 0 auto;
}
.cart-order-text{
 margin-bottom: 40px;
 color: #010101;
 margin-top: 0;
 font-family: "Neue Montreal Medium";
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 line-height: 1.17; /* 116.667% */
 text-transform: uppercase;
}

.cart-total-cost-wrap {

    height: 60px;
    background-color: rgba(109, 132, 52, 0.05);
    border-radius: 8px;
    margin-bottom: 30px;
    padding-left: 18px;
    padding-right: 18px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-total-cost { width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.cart-total-cost-text-1{
margin: 0;
color: #010101;
font-family: "Neue Montreal Medium";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 1.11; /* 111.111% */
}
.cart-total-cost-text-2{
    margin: 0;
    color: rgba(1, 1, 1, 0.20);

font-family: "Neue Montreal Regular";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17; /* 116.667% */
}
.js-total-ordered-price{
    margin: 0;
    color: #010101;

font-family: "Neue Montreal Medium";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 1.17 /* 116.667% */
}


.js-email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    position: relative;
}

.js-static-text-mail{
    max-width: 28px;
position: absolute;
      top: 22%;
      transform: translateY(-50%);
      left: 20px;
      pointer-events: none;

color: rgba(1, 1, 1, 0.50);

font-family: Neue Montreal;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28; /* 128.571% */

}

.cart-input{
    padding-left: 58px;
    /* width: 97.5%; */
    height: 42px;
    width: 100%;
color: #010101;
    border-radius: 30px;
border: 1px solid rgba(1, 1, 1, 0.30);

font-family: "Neue Montreal Regular";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
}

/* .cart-input-field::placeholder {
    color: #010101;
    font-family: Neue Montreal;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28px;
  } */

.js-email-checkout {
    width: 100%;
    height: 42px;
border: none;
    border-radius: 30px;
background: #6D8434;

color: #E8E8E2;

font-family: "Neue Montreal Medium";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.28; /* 128.571% */

}






/* Cart Tablet */
@media screen and (min-width: 768px) {
    .total-cart-container {
        /* max-width: 768px; */
        max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 99px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;

    }

    .js-cart-container {
        max-width: 768px;
        box-sizing: content-box;
    /* padding-bottom: 80px; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-sizing: border-box;
    
    
    }
    

    .cart-products{
        width: 100%;
        display: flex;
        flex-direction: column;
      align-items: flex-end;
      /* align-content: center; */
      flex-wrap: nowrap;
      box-sizing: content-box;
    }

    .cart-icon-wrapper{
        margin: 0;
        width: 42px;
        height: 42px;
    }

    .cart-basket-icon{ 
        width: 18px;
        height: 18px;
        margin: 12px;
    }
    .cart-title {
        font-size: 32px;
        line-height: 1.0; /* 100% */
    }

    .js-cart-empty {
        max-width: 100%;
        margin-top: 130px;
        margin-bottom: 20px;
    }
    .cart-basket-img {
        width: 164px;
        height: 140px;
        margin-bottom: 40px;
    }
    .text-frame{
        max-width: 387px;
    }
    .cart-text-empty-1 {font-size: 20px;
        line-height: 1.2;
    }
    .cart-text-empty-2 {max-width: 310px;

        font-size: 17px;
        font-weight: 400;
        line-height: 1.33; /* 133.333% */}


        
        .js-cart-container {
            width: 100%;
            margin: 0 auto;


        }
        .js-delete-all-btn{
            width: 96px;
    height: 24px;
    font-size: 16px;
    line-height: 1.25; /* 125% */
        }
        .js-cart-selected-products {
            width: 100%;
            margin: 0;
            align-items: flex-start;
            align-content: flex-start;
justify-content: flex-start;

max-height: 520px;
        }

        .selected-item {
width: 100%;
justify-content: flex-start;
gap: 40px;
        }

        .cart-remove-product-btn{
            width: 20px;
            height: 20px;
          
        }

        .js-selected-item-img { 
            width: 120px;
            height: 120px;
            gap: 40px;
        }
        .js-product-item-img{
            max-width: 72px;
            max-height: 72px;}


            .js-selected-item-descroption {
                max-width: 762px;
               
            }

            .js-item-product-name{
                max-width: 100%;
                height: 24px;
                margin-bottom: 10px;


                font-size: 20px;
                line-height: 1.2; /* 120% */
            }

            .js-item-product-properties{
                max-width: 100%;
                height: 18px;
                margin-bottom: 44px;
            }
            .js-item-product-descr {
                margin-right: 16px;
                max-width: 100%;
font-size: 14px;
line-height: 1.28; /* 128.571% */
            }

            .js-item-product-price{
                height: 24px;
font-size: 20px;
line-height: 1.2; /* 120% */
            }




        .js-cart-order-details {
            margin: 100px auto 0px 0;


            max-width: 590px;
        }
        .cart-order-text{
            font-size: 32px;
line-height: 1.0; /* 100% */
        }
        .cart-total-cost-wrap {
            max-width: 590px;
            margin-bottom: 40px;
            padding-left: 28px;
            padding-right: 28px;
            justify-content: space-between;

        }
        .cart-total-cost {
            width: 100%;
        }

        .cart-total-cost-text-1{
        font-size: 20px;
line-height: 1.2px; /* 120% */
        }
        .js-total-ordered-price{
            font-size: 32px;
line-height: 1.0; /* 100% */
        }

        .js-email-form {
            max-width: 590px;
            flex-direction: row;
            margin: 0;
            justify-content: space-between;
            font-size: 18px;
line-height: 1.33; /* 133.333% */
}

.cart-input{width: 100%;
height: 54px;

padding-left: 54px;
/* width: 97.5%; */

/* width: 85%; */
color: #010101;
border-radius: 30px;
border: 1px solid rgba(1, 1, 1, 0.30);

font-family: "Neue Montreal Regular";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
}

.js-static-text-mail{
    max-width: 35px;
position: absolute;
      top: 52%;
      /* transform: translateY(-50%);
      left: 20px;
      pointer-events: none; */
color: rgba(1, 1, 1, 0.50);

font-family: Neue Montreal;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28; /* 128.571% */
}

/* .cart-input-field::placeholder {
    color: #010101;
    font-family: Neue Montreal;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.33;
  } */

.js-email-checkout {
    max-width: 215px;
    height: 54px;
    font-size: 20px;
    line-height: 1.2; /* 120% */
}
}



/* Cart Desktop */
@media screen and ( min-width: 1280px){
    .total-cart-container {
        max-width: 1280px;
        padding-top: 81px;
        padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    }

    .js-cart-empty {
        margin-top: 155px;
        margin-bottom: 150px;
    }

    .js-cart-container {
        max-width: 1240px;
        display: flex;
        flex-direction: row;
        gap: 150px;

/* 
        margin-bottom: 100px; */
        /* padding-bottom: 0; */
    }

    .cart-products{
max-width: 500px;
    }

    .js-delete-all-btn{
        width: 96px;
        margin-bottom: 44px;
    }

    .js-cart-selected-products {
        max-width: 500px;
        max-height: 520px;
        gap: 40px;
    }

    .selected-item {
        width: 100%;
        justify-content: flex-start;
        gap: 40px;
                }
        
                .cart-remove-product-btn{
                    width: 20px;
                    height: 20px;
                  
                }
        
                .js-selected-item-img { 
                    width: 120px;
                    height: 120px;
                }
                .js-product-item-img{
                    max-width: 72px;
                    max-height: 72px;}
        
        
                    .js-selected-item-descroption {
                        max-width: 340px;
                       
                    }
        
                    .js-item-product-name{
                        max-width: 100%;
                        height: 24px;
                        margin-bottom: 10px;
        
        
                        font-size: 20px;
                        line-height: 1.2; /* 120% */
                    }
        
                    .js-item-product-properties{
                        max-width: 100%;
                        height: 18px;
                        margin-bottom: 44px;
                    }
                    .js-item-product-descr {
                        margin-right: 16px;
                        max-width: 100%;
        font-size: 14px;
        line-height: 1.28; /* 128.571% */
                    }
        
                    .js-item-product-price{
                        height: 24px;
        font-size: 20px;
        line-height: 1.2; /* 120% */
                    }
        


    .js-cart-order-details {
        display: flex;
padding-bottom: 0;
        max-width: 590px;
        margin-bottom: 0px;
    }

}