.discount-container {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
  margin-left: 0;
  margin-right: 0;
}

.discount-logo {
  width: 60px;
  height: 60px;

  position: absolute;
  top: 3px;
  right: 10px;
}

.logo {
  width: 100%;
  height: 100%;
}

.discount-title {
  font-size: 24px;
  /* font-family: "Neue Montreal Medium"; */
  font-weight: 500;
  line-height: 1.17; /* 116.667% */
  margin-bottom: 20px;
}

.discount-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-right: 15px;
  border-radius: 15px;
  background: #fafafa;
  position: relative;
}

.discount-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #e8e8e2;
  margin-bottom: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.discount-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .discount-card-name {

} */

.discount-card-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.discount-card-name {
  display: -webkit-box;
  width: 124px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.discount-card-text {
  font-size: 18px;
  /* font-family: "Neue Montreal Medium"; */
  font-weight: 500;
  line-height: 1.11; /* 111.111% */
  /* display: -webkit-box;
  width: 124px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden; */
}

.discount-card-button {
  width: 34px;
  height: 34px;
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #6d8434;
  border: none;
  color: #e8e8e2;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.discount-card-button:hover {
  background: #586f1f;
}

/*-------------------------MEDIA------------------------- */

@media (min-width: 768px) {
  .discount-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .discount-container {
    max-width: 768px;
    flex-direction: row;
    margin-bottom: 100px;
    gap: 32px;
    flex-wrap: wrap;
  }

  .discount-card {
    width: 336px;
    padding-right: 16px;
  }

  .discount-card-text {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: 1280px) {
  .discount-title {
    align-self: baseline;
  }

  .discount-container {
    width: 275px;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .discount-card {
    width: 100%;
  }
}
