/* neue-montreal*/
@font-face {
  font-family: 'Neue Montreal';
  src: url('https://db.onlinewebfonts.com/t/4366ceae6f7564999a0f0c3e8698a4ad.eot');
  src: url('https://db.onlinewebfonts.com/t/4366ceae6f7564999a0f0c3e8698a4ad.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/4366ceae6f7564999a0f0c3e8698a4ad.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/4366ceae6f7564999a0f0c3e8698a4ad.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/4366ceae6f7564999a0f0c3e8698a4ad.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/4366ceae6f7564999a0f0c3e8698a4ad.svg#Neue Montreal')
      format('svg');
}

/* neue-montreal-regular*/
@font-face {
	font-family: "Neue Montreal Regular";
	src: url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.eot");
	src: url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.eot?#iefix")format("embedded-opentype"),
	url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.woff2")format("woff2"),
	url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.woff")format("woff"),
	url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.ttf")format("truetype"),
	url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.svg#Neue Montreal Regular")format("svg");
}

/* neue-montreal - medium*/

@font-face {
	font-family: "Neue Montreal Medium";
	src: url("https://db.onlinewebfonts.com/t/c5c9157a20810aac79a10bf84a37bdb4.eot");
	src: url("https://db.onlinewebfonts.com/t/c5c9157a20810aac79a10bf84a37bdb4.eot?#iefix")format("embedded-opentype"),
	url("https://db.onlinewebfonts.com/t/c5c9157a20810aac79a10bf84a37bdb4.woff2")format("woff2"),
	url("https://db.onlinewebfonts.com/t/c5c9157a20810aac79a10bf84a37bdb4.woff")format("woff"),
	url("https://db.onlinewebfonts.com/t/c5c9157a20810aac79a10bf84a37bdb4.ttf")format("truetype"),
	url("https://db.onlinewebfonts.com/t/c5c9157a20810aac79a10bf84a37bdb4.svg#Neue Montreal Medium")format("svg");
}

/*====================================================*/
@font-face {
  font-family: 'Quincy CF';
  src: url(../fonts/Fontspring-DEMO-quincycf-black.ttf) format('ttf'),
    url(../fonts/Fontspring-DEMO-quincycf-black.woff) format('woff'),
    url(../fonts/Fontspring-DEMO-quincycf-black.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

