.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--footer-background);
  color: var(--footer-logo-text);
}

.footer-container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer-logo-social {
  margin-bottom: 40px;
}
.footer-logo-link {
  color: #e8e8e2;
  font-family: Quincy CF;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-logo-icon {
  margin-right: 8px;
}
.footer-social-media-list {
  display: flex;
  gap: 12px;
}
.social-media-item {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--footer-logo-text);
}
.social-media-icon {
  display: block;
}
.text-block {
  font-family: 'NeueMontreal';
}
.footer-slogan-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
.footer-slogan {
  color: rgba(232, 232, 226, 0.7);
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 80px;
}

.subscription-wrap {
  font-family: 'NeueMontreal';
}
.suscription-text {
  margin-bottom: 20px;
}
.contact-form-input {
  padding: 12px 18px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  border-radius: 30px;
  border: 1px solid var(--footer-logo-text);
  outline: transparent;
  background-color: transparent;
  color: var(--footer-logo-text);
  margin-bottom: 14px;
}
.contact-form-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
}
.footer-form-btn {
  width: 100%;
  padding-top: 12px;
  color: var(--content-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  padding-bottom: 12px;
  border-radius: 30px;
  background-color: var(--footer-logo-text);
  margin-bottom: 80px;
  border: none;
}
.footer-policy-wrap {
  font-family: 'NeueMontreal';
  color: var(--footer-logo-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.footer-copywriting-text {
  opacity: 0.9;
  margin-bottom: 8px;
}
.footer-policy-dividion {
  margin-left: 8px;
  margin-right: 8px;
}
