.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--footer-background);
  color: var(--footer-logo-text);
}

.container.footer-container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer-content-wrap {
  margin-bottom: 80px;
}

/*=======logo and social media====================================*/

.footer-logo-icon {
  width: 28px;
  height: 28px;
}
.footer-logo-social {
  margin-bottom: 40px;
}
.footer-logo-link {
  color: #e8e8e2;
  font-family: Quincy CF;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo-icon {
  margin-right: 8px;
}
.footer-social-media-list {
  display: flex;
  gap: 12px;
}

.social-media-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
  background-color: rgba(232, 232, 226, 0.2);
}
.social-media-icon {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--footer-logo-text);
  width: 40px;
  height: 40px;
  display: block;
}

/*=======slogan====================================*/

.text-block {
  font-family: 'NeueMontreal';
  margin-bottom: 80px;
}
.footer-slogan-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
.footer-slogan {
  color: rgba(232, 232, 226, 0.7);
  font-size: 14px;
  line-height: 1.29;
}

/*=======subscription form====================================*/

.subscription-wrap {
  font-family: 'NeueMontreal';
  max-width: 335px;
}
.suscription-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.contact-form-input {
  padding: 12px 18px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  border-radius: 30px;
  border: 1px solid var(--footer-logo-text);
  background-color: transparent;
  color: var(--footer-logo-text);
  margin-bottom: 14px;
}
.contact-form-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
}
.footer-form-btn {
  width: 100%;
  padding-top: 12px;
  color: var(--content-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  padding-bottom: 12px;
  border-radius: 30px;
  background-color: var(--footer-logo-text);
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  color: var(--footer-background);
}

/*=======policy====================================*/

.footer-policy-wrap {
  font-family: 'NeueMontreal';
  color: var(--footer-logo-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
.footer-copywriting-text {
  opacity: 0.9;
  margin-bottom: 8px;
}
.footer-terms-wrap {
  display: flex;
}
.footer-policy-dividion {
  margin-left: 8px;
  margin-right: 8px;
}
.footer-privacy-policy-link {
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-privacy-policy-link:hover,
.footer-privacy-policy-link:focus {
  text-decoration: underline;
}
.footer-terms-link {
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-terms-link:hover,
.footer-terms-link:focus {
  text-decoration: underline;
}

/*=======media768====================================*/

@media (min-width: 768px) {
  .container.footer-container {
    max-width: 768px;
    padding: 0 32px;
  }
  .footer-content-wrap {
    justify-content: space-between;
    display: flex;
    margin-bottom: 120px;
  }
  .footer-logo-icon {
    width: 32px;
    height: 32px;
  }
  .footer-logo-social {
    margin-bottom: 0;
  }
  .footer-logo-link {
    font-size: 24px;
    line-height: 1;
  }
  .social-media-icon {
    width: 44px;
    height: 44px;
  }

  .text-block {
    max-width: 429px;
    margin-bottom: 64px;
  }
  .footer-slogan-title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .footer-slogan {
    font-size: 18px;
    line-height: 1.33;
  }

  .subscription-wrap {
    max-width: 336px;
  }
  .suscription-text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
  }
  .contact-form-input {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  .footer-form-btn {
    font-size: 16px;
    line-height: 1.5;
  }
  .footer-policy-wrap {
    display: flex;
    justify-content: space-between;
  }
}

/*=======media1280====================================*/

@media (min-width: 1280px) {
  .container.footer-container {
    max-width: 1280px;
    padding: 0 20px;
  }
  .footer-content-wrap {
    margin-bottom: 128px;
  }
  .footer-main-info-wrap {
    display: flex;
  }
  .text-block {
    margin-right: 148px;
    max-width: 410px;
    margin-bottom: 0;
  }
}

/*=======modal policy and terms====================================*/

.modal-policy-container {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}
.modal-policy-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  transition: transform 300ms ease-in-out;
}

.modal-privacy-policy {
  border-radius: 6px;
  width: 60vw;
  background-color: var(--footer-background);
  color: var(--footer-logo-text);
  font-family: 'NeueMontreal';
  line-height: 1.5;
  padding: 20px 10px;
}

.is-hidden-policy {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.privacy-policy-content {
  background-color: var(--footer-logo-text);
  color: var(--content-text-color);
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 10px;
  margin-bottom: 30px;
}
.privacy-policy-content::-webkit-scrollbar {
  width: 10px;
  background-color: beige;
}
.privacy-policy-content::-webkit-scrollbar-thumb {
  background-color: #586f1f;
}
.policy-title {
  margin-bottom: 20px;
  font-size: 16px;
}
.policy-date {
  margin-bottom: 10px;
  font-size: 16px;
}
.policy-greeting {
  margin-bottom: 10px;
  font-size: 16px;
}
.policy-text {
  font-size: 14px;
}
.policy-button-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.policy-btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: var(--content-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-btn:hover,
.policy-btn:focus {
  color: var(--footer-background);
}
.no-scroll {
  overflow: hidden;
}
