/* =============Components============ */
/* 
.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
} */

.section {
  padding-top: 72px;
  margin-bottom: 74px;
}

/* =============Header============ */

.header-logo-icon {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navig-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav {
  padding-top: 24px;
}
.hero-container {
  position: relative;
}
.logo-link {
  color: var(--content-text-color);
  font-family: Quincy CF;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 100% */
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-basket-header {
  width: 18px;
  height: 18px;
}
.header-besket-wrapper {
  gap: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-basket-item {
  border-radius: 50%;
  background: var(--footer-background);
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-basket-item:hover,
.header-basket-item:focus {
  background: #586f1f;
}
.cart-amount {
  color: var(--content-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
}

/*=======media767====================================*/
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .main-nav {
    padding-top: 18px;
  }
  .header-logo-icon {
    width: 28px;
    height: 28px;
  }
  .logo-link {
    font-size: 18px;
    line-height: 20px; /* 111.111% */
    letter-spacing: -0.36px;
  }
  .link-home {
    border-radius: 30px;
    background: var(--footer-background);
    padding: 10px 20px;
    color: var(--background-color);
    font-family: 'Neue Montreal Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-home:hover,
  .link-home:focus {
    background: #586f1f;
  }
  .icon-basket-header {
    width: 14px;
    height: 14px;
  }
  .navig-wrapper {
    gap: 6px;
  }
  .cart-amount {
    display: none;
  }
}

/*=======media768====================================*/
@media (min-width: 768px) {
  .header-logo-icon {
    width: 32px;
    height: 32px;
  }
  .navig-wrapper {
    gap: 16px;
  }
  .link-home {
    padding: 12px 28px;
  }
  .link-home:hover,
  .link-home:focus {
    background: #586f1f;
  }
}

/*=======media1440====================================*/
@media (min-width: 1440px) {
  .footer-content-wrap {
    margin-bottom: 128px;
  }
  .footer-main-info-wrap {
    display: flex;
  }
}
