/* =============Components============ */

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

/* =============Hero============ */

.hero-container {
  position: relative;
}
.hero-title {
  color: var(--content-text-color);
  text-align: center;
  font-family: 'Neue Montreal Medium';
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px; /* 100% */
  letter-spacing: -1.6px;
  margin-bottom: 20px;
}
.hero-title-color {
  color: var(--footer-background);
  font-family: 'Neue Montreal Medium';
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -1.6px;
}
.hero-text {
  color: var(--content-text-color);
  text-align: center;
  font-family: 'Neue Montreal Regular';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  margin-bottom: 40px;
}
.hero-picture {
  border-radius: 20px;
}
.icon-basket-header {
  width: 18px;
  height: 18px;
}

/*=======media767====================================*/
@media (max-width: 767px) {
  .hero-container-wrapper {
    max-width: 375px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 48px; /* 109.091% */
    letter-spacing: -0.88px;
    margin-bottom: 16px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title-color {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.88px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
    margin-bottom: 32px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-img {
    border-radius: 20px;
  }
  .icon-organic-food {
    position: absolute;
    right: 3%;
    top: -5%;
  }
}

/*=======media768====================================*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .hero-title {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-text {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-img {
    border-radius: 40px;
  }
  .icon-organic-food {
    position: absolute;
    right: 1%;
    top: -5%;
  }
}

/*=======media1280====================================*/
@media (min-width: 1280px) {
  .container.hero-container-wrapper {
    max-width: 1280px;
    padding: 0 20px;
  }
  .hero-title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-text {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-organic-food {
    position: absolute;
    right: 1%;
    top: -14%;
  }
}
