.product {
  color: rgba(1, 1, 1, 0.3);
  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.margin {
  margin-bottom: 9px;
}
.category-value,
.popularity-value,
.size-value {
  color: #010101;

  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.product-name {
  color: #010101;
  margin-bottom: 12px;
  font-family: 'Neue Montreal Medium';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.product-text {
  display: flex;
  width: 152px;
  height: 74px;

  flex-direction: column;
  align-items: flex-start;

  flex-shrink: 0;
}

.product-template {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 12px;
}

.product-image {
  width: 56px;
  height: 56px;
}
.product-image-container {
  background: #e8e8e2;
  width: 74px;
  height: 74px;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.product-template {
  position: relative;
  height: 98px;
  border-radius: 10px;
  background: #fafafa;
  width: 100%;
}
.added-to-cart {
  background-color: #6d8434; /*  зміна кольору фону кнопки */
}

.add-to-cart-btn {
  border: none;
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 30px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.h1-popular {
  align-self: baseline;
  color: #010101;
  margin-bottom: 20px;
  font-family: 'Neue Montreal Medium';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.size-value {
  margin-right: 9px;
}
.popular-con {
  display: flex;
  gap: 9px;
}
.ico {
  stroke: #6d8434;
  width: 12px;
  height: 12px;
}
.ico:hover,
:focus {
  stroke: #e8e8e2;
}
.add-to-cart-btn:hover {
  background: #586f1f;
}
.product-con {
  width: 311px;
  height: 74px;
}
.products-container {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
/* .contain {
  margin: auto;
} */
/* ///////////////////////////////////// */
@media (min-width: 768px) and (max-width: 1280px) {
  .products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product-con {
    width: 251px;
    height: 74px;
  }
  .product-template {
    width: 275px;
    height: 98px;
  }
  /* .contain {
    width: 100%;
    margin: auto;
  } */
}
@media (min-width: 1280px) {
  /* Для екранів більше 1280px */
  .product-name {
    margin-bottom: 10px;
  }
  .product-con {
    width: 251px;
    height: 74px;
  }
  .product-template {
    width: 275px;
    height: 98px;
  }
  .products-container {
    /* display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px; */
    margin-bottom: 40px;
  }
  .contain {
    margin-top: 136px;
    width: 275px;
    display: flex;
    flex-direction: column;

    align-content: flex-end;
    align-items: flex-end;
  }
}

/* -------scroll-up------------- */
html {
  scroll-behavior: smooth;
}
.top {
  position: fixed;
  bottom: 580px;
  background-color: #2d3710;
  /* position: absolute; */
  right: 15px;
  /* background-color: #000000; */
  color: white;
  padding: 18px 33px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 40px;
  height: auto;
  width: 85px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.9;

  align-items: center;
  justify-content: center;
}
.top:hover {
  opacity: 0.7;
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  .top {
    bottom: 650px;
    width: 66px;

    padding: 10px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .top {
    bottom: 430px;
  }
}
