/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./header.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./reset.css');

:root {
	--background-color:#E8E8E2;
	--content-text-color:#010101;

	--footer-background: #6D8434;
	--footer-logo-text: #E8E8E2;

}

.list {
	list-style: none;
}


