/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./filters.css');
@import url('./popular.css');
@import url('./product-cards.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  --background-color: #e8e8e2;
  --content-text-color: #010101;

  --footer-background: #6d8434;
  --footer-logo-text: #e8e8e2;
}

.list {
  list-style: none;
}
