/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/


@import url('./reset.css');
@import url('./fonts.css');
@import url('./header.css');
@import url('./filters.css');
@import url('./popular.css');
@import url('./product-cards.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./cart.css');

:root {
  --background-color: #e8e8e2;
  --content-text-color: #010101;

  --footer-background: #6d8434;
  --footer-logo-text: #e8e8e2;
}

.list {
  list-style: none;
}

.main-page {
  padding-top: 40px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media screen and (min-width: 768px) {
	.flex-container {
		gap: 100px;
	}
}

@media screen and (min-width: 1440px) {
	.flex-container {
		flex-direction: row;
		gap: 40px;
	}
}